<script async src="https://mocralivelinks.com/livelinks/v1/designer/installer.js"></script>
<div data-livelinks="v1" style="display: none">
  {% if template == "product" %}
  <div class="product grid grid-cols-2 bg-white overflow-hidden h-full">
    <div class="h-full flex items-center justify-start">
      <img
        class="object-cover"
        src="{{ product.featured_image | img_url: 'grande' }}"
        width="{{ product.featured_image.width }}"
        height="{{ product.featured_image.height }}"
        loading="lazy"
      />
    </div>
    <div class="flex justify-center items-center" style="padding: 1.5rem">
      <div>
        <h1 class="product__title" style="font-size: 4rem;">
          {{ product.title | escape }}
        </h1>
        <p class="element-margin price price--large">
          <span class="price-item price-item--regular">
            {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
          </span>
        </p>
      </div>
    </div>
  </div>
  {% elsif template == "index" %}
  <div class="relative bg-white">
    <div class="absolute inset-0">{{ 'lifestyle-1' | placeholder_svg_tag: 'h-full' }}</div>
    <div class="flex justify-center items-center h-full w-full">
      <p class="z-10 bg-white p-10 text-6xl">{{ shop.name }}</p>
    </div>
  </div>
  {% elsif template == "collection" %}
  <div class="bg-indigo-300 ">
    <table class="bg-indigo-200">
      {% tablerow product_card_product in collection.products cols: 4 %}
        <img
          src="{{ product_card_product.featured_media | img_url: '228x228' }}"
          alt="{{ product_card_product.featured_media.alt | escape }}"
          loading="lazy"
          width="228"
          height="228"
        >
      {% endtablerow %}
    </table>
  </div>
  {% elsif template == "list-collection" %}
  <div>
    template: {{ template }}
  </div>
  {% else %}
  <div>
    template: {{ template }}
  </div>
  {% endif %}
</div>
